body {
    color: rgb(43, 226, 58);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera {
    background-color: rgb(73, 26, 117);
    color: #fff;
    margin: 0;
    padding: 0.5em;
}

.container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(0, 0, 0);     
}